<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> 50-02-23-86</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> alemanrodrigo1907@gmail.com</a></li>
        <li><a href="https://www.directoriodecalles.info/CR/Provincia-Alajuela/Canton-Upala/Yolillal/Spots/Escuela-La-Maravilla/"><i class="fa fa-map-marker"></i> 200 metros norte de la escuela Las Maravillas</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href="https://gee.bccr.fi.cr/IndicadoresEconomicos/Cuadros/frmConsultaTCVentanilla.aspx"><i class="fa fa-dollar"></i> USD</a></li>
        <li *ngIf="haylogin() == false"><a [routerLink]="[ '/login']"><i class="fa fa-sign-in"></i> Usuario</a></li>
        <li *ngIf="haylogin() == true"><a [routerLink]="[ '']"><i class="fa fa-user-o"></i> {{us}}</a></li>
        <li *ngIf="haylogin() == true"><a [routerLink]="[ '']" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a routerLink="/" class="logo">
              <img src="../../../assets/img/logo_transparent.jpg" alt="">
            </a>
          </div>
        </div>
        <!-- /LOGO -->

        <!-- SEARCH BAR -->
        <div class="col-md-6">
          <div class="header-search">
            <form [formGroup]="busqueda"  id="busqueda">
              <!--<select class="input-select">
                <option value="0">En General</option>
                <option value="1">Mercancías</option>
                <option value="2">Cuidado Personal</option>
                <option value="2">Abarrotes</option>
                <option value="2">Frescos</option>
              </select>-->
              <input formControlName="valor" type="text" class="form-control" style="  padding: 6px 0px;position: relative;width: calc(100% - 0px);" placeholder="Search here">
              <button (click)= "buscar()" class="search-btn"  type="submit">Buscar</button>
            </form>
          </div>
        </div>
        <!-- /SEARCH BAR -->

        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <!-- Wishlist -->
            <!--<div>
              <a href="#">
                <i class="fa fa-heart-o"></i>
                <span>Favoritos</span>
                <div class="qty">0</div>
              </a>
            </div>-->
            <!-- /Wishlist -->

            <!-- Cart -->
            <div class="dropdown" >
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="cursor: pointer;">
                <i (click)="vercarrito()" class="fa fa-shopping-cart"></i>
                <span (click)="vercarrito()">Tu carrito</span>
                <div class="qty"></div>
              </a>
              <div class="cart-dropdown" >
                <div class="cart-list" >
                  <div class="product-widget" *ngFor="let item of Listcompras">
                    <div class="product-img">
                      <img src="./../../../assets/img/{{item}}.jpg" alt="" width="20px">
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">{{item}}</a></h3>
                      <h4 class="product-price"><span class="qty"> {{item}} </span></h4>
                    </div>
                    <!--<button (click)="quitardelcarro(item)" class="delete" ><i class="fa fa-close"></i></button>-->
                  </div>

                </div>
                <div class="cart-summary">
                  <small> Item(s) seleccionados</small>
                  <h5>TOTAL :{{totalcompra()}}</h5>
                </div>
                <div class="cart-btns">
                  <a routerLink="/cart">Ver Carrito</a>
                  <a  [routerLink]="['/checkout']">Verificar <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /Cart -->

            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            <!-- /Menu Toogle -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav py-3">
        <li class="active"><a href="#">Home</a></li>
        <li *ngIf="us == 'gerente_4' || us == 'gerente_3' || us == 'gerente_2' || us == 'gerente_1'|| us == 'gerente_general_1'|| us == 'gerente_general_2' || us == 'sistemas1'  || us == 'sistemas2' "><a [routerLink]="['/edit']">Editar</a></li>
        <li *ngIf="us == 'gerente_general_1'|| us == 'gerente_general_2'|| us == 'sistemas1'|| us == 'sistemas2'"><a [routerLink]="['/add']">Agregar Producto</a></li>
        <li *ngIf="us == 'gerente_general_1'|| us == 'gerente_general_2' || us == 'sistemas1' || us == 'sistemas2' "><a [routerLink]="['/delete']">Borrar Producto</a></li>
        <li *ngIf="us == 'sistemas1' || us == 'sistemas2' "><a [routerLink]="['/bitacora']">Ver Bitacoras</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->
