<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="./../../../assets/img/atunPronto.jpg" alt="">
          </div>
          <div class="shop-body">
            <h3>Abarrotes</h3>
            <a [routerLink]="['/productos/categoria/abarrotes']" class="cta-btn">Compra Ahora <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="./../../../assets/img/desodoranteDove.jpg" alt="">
          </div>
          <div class="shop-body">
            <h3>Cuidado <br>Personal</h3>
            <a [routerLink]="['/productos/categoria/personal']" class="cta-btn">Compra Ahora <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="./../../../assets/img/frutas.jpg" alt="">
          </div>
          <div class="shop-body">
            <h3>Frescos</h3>
            <a [routerLink]="['/productos/categoria/frescos']" class="cta-btn">Compra Ahora <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="./../../../assets/img/electrodomésticos.jpg" alt="">
          </div>
          <div class="shop-body">
            <h3>Mercancías</h3>
            <a [routerLink]="['/productos/categoria/mercancias']" class="cta-btn">Compra Ahora <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="./../../../assets/img/allsuper.jpg" alt="">
          </div>
          <div class="shop-body">
            <h3>Ver Todo</h3>
            <a [routerLink]="['/productos/categoria/todos']" class="cta-btn">Compra Ahora<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="newsletter">
          <p>Registrate en <strong>La base del super</strong></p>
          <form>
            <input class="input" type="email" placeholder="Ingrese tu e-mail">
            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Registrar</button>
          </form>
          <ul class="newsletter-follow">
            <li>
              <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/?hl=es-la"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /NEWSLETTER -->
