  <!-- Section -->
  <div class="section" *ngIf="param == 'todos'">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h3 class="title">Productos Relacionados</h3>
          </div>
        </div>
        <!-- product -->
        <div class="col-md-3 col-xs-6"  *ngFor="let item of freshproductList">
          <div class="product"  >
            <div class="product-img">
              <img alt="" src="./../../../assets/img/{{item[0]}}.jpg">
            </div>
            <div class="product-body">
              <p class="product-category">Productos Frescos</p>
              <h3 class="product-name"><a></a>{{item[2]}}</h3>
              <h4 class="product-price">₡{{item[3]}}
                
              </h4>
              <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Añadir a la lista de deseos</span>
                </button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Añadir a comparar</span>
                </button>
                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Vista Rápida</span></button>
              </div>
            </div>
            <div class="add-to-cart">
              <button (click)="agregaralcarro(item[0])" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-6"  *ngFor="let item2 of otherproductList">
          <div class="product"  >
            <div class="product-img">
              <img alt="" src="./../../../assets/img/{{item2[0]}}.jpg">
            </div>
            <div class="product-body">
              <p class="product-category">Otros Productos</p>
              <h3 class="product-name"><a></a>{{item2[1]}}</h3>
              <h4 class="product-price">₡{{item2[2]}}
                
              </h4>
              <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Añadir a la lista de deseos</span>
                </button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Añadir a comparar</span>
                </button>
                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Vista Rápida</span></button>
              </div>
            </div>
            <div class="add-to-cart">
              <button (click)="agregaralcarro(item2[0])" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
            </div>
          </div>
        </div>
        <!-- /product -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /Section -->

  
  <!-- Section -->
  <div class="section" *ngIf="param == 'frescos'">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h3 class="title">Productos Relacionados</h3>
          </div>
        </div>
        <!-- product -->
        <div class="col-md-3 col-xs-6"  *ngFor="let item of freshproductList">
          <div class="product"  >
            <div class="product-img">
              <img alt="" src="./../../../assets/img/{{item[0]}}.jpg">
            </div>
            <div class="product-body">
              <p class="product-category">Productos Frescos</p>
              <h3 class="product-name"><a></a>{{item[2]}}</h3>
              <h4 class="product-price">₡{{item[3]}}
              </h4>
              <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Añadir a la lista de deseos</span>
                </button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Añadir a comparar</span>
                </button>
                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Vista Rápida</span></button>
              </div>
            </div>
            <div class="add-to-cart">
              <button (click)="agregaralcarro(item[0])" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
            </div>
          </div>
        </div>
        <!-- /product -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /Section -->

  <!-- Section -->
  <div class="section" *ngIf="param == 'abarrotes'">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h3 class="title">Productos Relacionados</h3>
          </div>
        </div>
        <!-- product -->
        <div class="col-md-3 col-xs-6"  *ngFor="let item of onlyabarrotesList">
          <div class="product"  *ngIf="item[4]=='ABARROTES'">
            <div class="product-img">
              <img alt="" src="./../../../assets/img/{{item[0]}}.jpg">
            </div>
            <div class="product-body">
              <p class="product-category">Otros Productos</p>
              <h3 class="product-name"><a></a>{{item[1]}}</h3>
              <h4 class="product-price">₡{{item[2]}}
                <!--<del class="product-old-price">₡990.00</del>-->
              </h4>
              <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Añadir a la lista de deseos</span>
                </button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Añadir a comparar</span>
                </button>
                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Vista Rápida</span></button>
              </div>
            </div>
            <div class="add-to-cart">
              <button (click)="agregaralcarro(item[0])" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
            </div>
          </div>
        </div>
        <!-- /product -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /Section -->

    <!-- Section -->
  <div class="section" *ngIf="param == 'personal'">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h3 class="title">Productos Relacionados</h3>
          </div>
        </div>
        <!-- product -->
        <div class="col-md-3 col-xs-6"  *ngFor="let item of onlypersonalList">
          <div class="product"  *ngIf="item[4]=='CUIDADO PERSONAL'">
            <div class="product-img">
              <img alt="" src="./../../../assets/img/{{item[0]}}.jpg">
            </div>
            <div class="product-body">
              <p class="product-category">Otros Productos</p>
              <h3 class="product-name"><a></a>{{item[1]}}</h3>
              <h4 class="product-price">₡{{item[2]}}
                <!--<del class="product-old-price">₡990.00</del>-->
              </h4>
              <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Añadir a la lista de deseos</span>
                </button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Añadir a comparar</span>
                </button>
                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Vista Rápida</span></button>
              </div>
            </div>
            <div class="add-to-cart">
              <button (click)="agregaralcarro(item[0])" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
            </div>
          </div>
        </div>
        <!-- /product -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /Section -->

  <div class="section" *ngIf="param == 'mercancias'">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h3 class="title">Productos Relacionados</h3>
          </div>
        </div>
        <!-- product -->
        <div class="col-md-3 col-xs-6"  *ngFor="let item of onlymercanciasList">
          <div class="product" *ngIf="item[4]=='MERCANCIAS'" >
            <div class="product-img">
              <img alt="" src="./../../../assets/img/{{item[0]}}.jpg">
            </div>
            <div class="product-body">
              <p class="product-category">Otros Productos</p>
              <h3 class="product-name"><a></a>{{item[1]}}</h3>
              <h4 class="product-price">₡{{item[2]}}
               <!--<del class="product-old-price">₡990.00</del>-->
              </h4>
              <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Añadir a la lista de deseos</span>
                </button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Añadir a comparar</span>
                </button>
                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Vista Rápida</span></button>
              </div>
            </div>
            <div class="add-to-cart">
              <button (click)="agregaralcarro(item[0])" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
            </div>
          </div>
        </div>
        <!-- /product -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /Section -->


  